# HEXABYTE CORE V3.0 - PROPERTY OF ROHIT KATTIMANI
# -----------------------------------------------
# Author: Rohit Kattimani
# License: Proprietary / All Rights Reserved

index.html linguist-detectable=false

# Ensure consistent line endings across different OS
* text=auto
